[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf2 = "*"
install = "*"
chromadb = "*"
chunkipy = "*"
transformers = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.12"
